{% extends 'base.html' %}
{% block content %}
        <h1>Project List</h1>

        <a href="{% url 'webapp:project_add' %}" class="btn btn-primary">Add Project</a>
        <table class="table">
            <tbody>
            {% if projects %}
                <ul>
                {% for project in projects %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card mt-3 text-center" style="width: 18rem;">
                            <div class="card-body">
                                    <a class="card-title" href="{% url 'webapp:project_detail' project.pk %}" class="text-decoration-none">{{ project.name }}
                                    </a>
                                    <br>
                                    {{ project.start_date }}
                                    <br>
                                    {% if perms.webapp.change_project or request.user == project.user %}
                                        <a href="{% url 'webapp:project_update' project.pk %}" class="btn"><i class="fa-solid fa-pen-to-square"></i></a>
                                    {% endif %}
                                    {% if perms.webapp.change_project or request.user == project.user %}
                                        <form action="{% url 'webapp:project_delete' project.pk %}" method="post" style="display:inline;">
                                    {% endif %}        
                                        {% csrf_token %}
                                        {% if perms.webapp.change_project or request.user == project.user %}
                                            <a href="{% url 'webapp:project_delete' project.pk %}" class="btn">
                                            <i class="fa-solid fa-trash"></i>
                                            </a>
                                        {% endif %}
                                    </form>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% if is_paginated %}
                {% include "partial/pagination.html" %}
            {% endif %}
    {% else %}
        <p>No projects found</p>
    {% endif %}
{% endblock %}