{% extends 'base.html' %}
{% block content %}
    <title>Project Detail</title>
<body>
    <h1>{{ project.name }}</h1>
    <p>{{ project.description }}</p>
    <p>Start Date: {{ project.start_date }}</p>
    <p>End Date: {{ project.end_date }}</p>
    <a href="{% url 'webapp:project_update' project.pk %}" class="btn btn-primary">Edit Project</a>
    <a href="{% url 'webapp:project_delete' project.pk %}" class="btn btn-primary">Delete Project</a>

    <h2>Tasks</h2>
    <a href="{% url 'webapp:add_task' project.pk %}" class="btn btn-primary">Add Task</a>
    {% if tasks %}
        <ul>
            {% for task in tasks %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-3 text-center" style="width: 18rem;">
                    <div class="card-body">
                        <tr>
                            <td><a href="{% url 'webapp:detail_task' task.pk %}"
                                   class="text-decoration-none card-title">{{ task.summary }}
                            </a></td>
                            <br>
                            <td>{{ task.status }}</td>
                            <br>
                            <td>{{ task.type }}</td>
                            <br>
                            <td><a href="{% url 'webapp:update_task' task.pk %}" class="btn"><i
                                    class="fa-solid fa-pen-to-square"></i></a>
                                <form action="{% url 'webapp:delete_task' task.pk %}" method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <a href="{% url 'webapp:delete_task' task.pk %}" class="btn">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </form>
                            </td>
                        </tr>
                    </div>
                </div>
            </div>
                {% endfor %}
        </ul>
    {% else %}
        <p>No tasks found for this project</p>
    {% endif %}
</body>
{% endblock %}