{% extends 'base.html' %}
{% block content %}
        <h1>Task List</h1>
        <a href="{% url 'add_task' %}" class="btn btn-primary">Add Task</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Summary</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td><a href="{% url 'detail_task' task.pk %}" class="text-decoration-none">{{ task.summary }}
                    </a></td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.type }}</td>
                    <td><a href="{% url 'update_task' task.pk %}" class="btn"><i class="fa-solid fa-pen-to-square"></i></a>
                    <form action="{% url 'delete_task' task.pk %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <a href="{% url 'delete_task' task.pk %}" class="btn">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </form>
                    </td>
                </tr>
                {% endfor %}
{% endblock %}